
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<h1>To download an image right click and choose "Save As"</h1>
<div class="well">


<%= form_for @image do |f| %>

	<%= image_tag @image.photo(:large) %>
<p>
	<%= select(:filter, :id, Filter.all.collect {|filter| [filter.name, filter.id]}) %>
	<td><%= f.submit 'Apply Filter', :name => 'filter_button',data: { confirm: 'Do you want to apply this filter in this picture?'} %></td>
	</p>
	<%= select(:user, :id, User.all.collect {|user| [user.email, user.id]}) %>
	<td><%= f.submit 'Share', :name => 'share_button', data: { confirm: 'Do you want to share this picture with this user?'}%></td>
</p>
<% end %>


</div>



<p>



<%= link_to 'Edit', edit_image_path(@image) %> 
<%= link_to 'Back', images_path %>


</p>


</div>

</div>


